@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #c7e7e0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* headercolor= #57ada2 */

header {
  background-color: #57ada2;
  color: white;
  padding: 3px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .dashboard {
    justify-content: flex-start;
  }
  .box {
    font-size: 10px;
    max-height: calc(25% - 10px);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box:nth-child(1),
  .box:nth-child(2) {
    margin-bottom: 5px;
  }

  .box:nth-child(3),
  .box:nth-child(4) {
    margin-top: -200px;
  }

  .dashboard-button {
    font-size: 10px !important; /* Set the font size of the button */
    padding: 6px 12px !important; /* Set the padding of the button */
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  height: 90vh;
  box-sizing: border-box;
}

.box {
  flex: 1 0 45%;
  /* max-width: calc(49% - 10px); */
  /* height: 40vh; Set the height of each box */
  margin: 0;
  background-color: #9edfd1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-weight: bold;
  color: black;
}

.dashboard-button {
  margin-top: auto; /* Move the button to the bottom of the box */
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #c91c68;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  cursor: pointer; /* Change cursor to pointer */
}

.dashboard-button:hover {
  background-color: #cd5389;
  box-shadow: 0 0 20px #930b47;
  transform: scale(1.1);
}

.dashboard-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.header-content {
  position: relative;
}

.connect-wallet-button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #c91c68;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.25s;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 20px;
}

.connect-wallet-button:hover {
  background-color: #cd5389;
  box-shadow: 0 0 20px #930b47;
  transform: scale(1.1);
}

.connect-wallet-button:active {
  background-color: #3d94cf;
  box-shadow: none;
  transform: scale(0.98);
}

.wallet-address-container {
  display: flex;
  align-items: center;
}

.wallet-address {
  background-color: transparent;
  white-space: nowrap;
  font-weight: bold;
  color: black;
  padding: 12.5px 30px;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .wallet-address {
    margin-left: 127px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .connect-wallet-button {
    margin-left: 123px;
    font-size: 10px !important;
    padding: 6px 12px !important;
  }
}
